body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* background: #1A1B26;
     */
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.m4BMKtm91ytKE0542BJx6gHaEo%26pid%3DApi&f=1');
    color: #bbbbdd;
}

.pacman {
    border-top: 60px solid yellow;
    border-left: 60px solid yellow;
    border-bottom: 60px solid yellow;
    border-right: 60px solid transparent;
    width: 0px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}